.card {
    .avatar {}

    .icon {}

    .button {}
}

.grid {
    margin: 30rpx;
}

.grid-item {

    .record {
        background-color: #ffffff;
        color: #333;
    }

    .button {
        margin: 10rpx;
    }
}
